<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
</head>

<body>
    <header>
        <h1>Vue Events</h1>
    </header>
    <section id="events">
        <h2>Events in Action</h2>
        <button v-on:click="increment">Add</button>
        <!-- <button v-on:click="counter++">Add</button> -->
        <button v-on:click="decrement">Remove</button>
        <!-- <button v-on:click="counter = counter - 1">Remove</button> -->

        <button v-on:click="addFive(5)">Add 5</button>
        <button v-on:click.right="reduceFive(5)">Reduce 5</button>
        <p>Result: {{ counter }}</p>
        <p v-once>Starting Count: {{ counter }}</p>

        <!-- <input type="text" v-on:input="setName" v-bind:value="name" placeholder="Type your name here..." /> -->
        <input type="text" v-model="name" placeholder="First name..." />
        <input type="text" v-model="lastName" placeholder="Last name..." />
        <button v-on:click="resetInput">Reset Input</button>
        <p>Your Name: {{ fullname }}</p>

        <input type="text" v-on:input="setCoder($event, 'is the best coder')" placeholder="Type your name here..." />
        <p>Yes you, {{ coder }} </p>
        <!-- Not good to use -->
        <!-- <p>{{ outputFullName() }}</p> -->

        <!-- <p>{{ fullname }}</p> -->

        <form v-on:submit="submitForm">
            <input type="text" />
            <button>Sign Up</button>
        </form>
        <p>Using Vue events</p>
        <form v-on:submit.prevent="submitNextForm">
            <input type="number" />
            <button>Log In</button>
        </form>

        <p>Learn Vue Key Events</p>
        <input type="text" placeholder="Type your nickname here..." v-on:keyup.enter="setNickname" />
        <p>Nickname: {{nickname}}</p>
        <p>{{ me }}</p>

    </section>
</body>

</html>